@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
:root {
    --bg: rgb(46, 46, 71);
    --bg2: rgb(58, 58, 78);
    --fg: rgb(204, 204, 204);
}

html {
    background: var(--bg);
    color: var(--fg);
    font-family: 'Ubuntu Mono', monospace;
}

nav {
    display: flex;
}

.nav-item {
    width: 100%;
    background-color: var(--bg2);
    margin: 5px 5px 10px 5px;
    text-align: center;
    content: "hite";
    font-size: 2em;
    padding: 20px 0;
}

.header {
    font-size: 30px;
    padding: 15px;
    display: block;
}

section {
    background: var(--bg2);
    padding: 10px;
}

.seperator {
    background-color: var(--bg);
    height: 3px;
}

strong {
    color: rgb(255, 255, 255);
}

code {
    font-family: inherit;
    background: grey;
    color: black;
    padding: 3px;
    border-radius: 3px;
}

a {
    color: darkgray;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid;
}

a:active {
    color: white;
}

a:focus {
    outline: none;
    border-bottom: 1px solid;
}

a[href^="https://github.com"]::before {
    font-family: "Font Awesome 5 Brands";
    content: "\f09b  ";
    font-weight: 400;
}

a[href^="https://codegolf.stackexchange.com"]::before {
    font-family: "Font Awesome 5 Brands";
    content: "\f16c  ";
    font-weight: 900;
}

a[href^="https://nph278.github.io"]::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0c1  ";
    font-weight: 900;
}

.newest a::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0e7  ";
    font-weight: 900;
}

.nav-item a::before {
    display: block;
    font-size: 2em;
}

.editongit {
    font-size: 2em;
}